## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.tool-versions

# sbt specific
target/
project/boot/
project/target/
project/project/

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.bsp

# metals
.metals
.bloop
project/metals.sbt

